@use '@/styles/layout/mixins' as *;

#car-information {
    .car-model-color-container {
        display: flex;
        gap: 10px;
    }

    .license-registration-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .span-2 {
            grid-column: span 2;
        }
    }
}