@use '@/styles/layout/mixins' as *;

#car-information {
    .car-model-color-container {
        display: flex;
        gap: 10px;
    }


    .red-license-option {
        cursor: pointer;
        margin-top: 16px;
        padding: 16px;
        border-radius: var(--variable-radius-radius-12, 12px);
        border: 1px solid var(--border-primary, #DDDDDF);
        background: var(--background-lightest, #FFF);

        &.red-license-option--selected {
            border-color: var(--primary);
        }
    }

    .license-registration-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .span-2 {
            grid-column: span 2;
        }
    }
}