# Node modules
node_modules
npm-debug.log
yarn-error.log
yarn.lock

# Build output
.next
out

# Logs
logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory used by testing tools
coverage

# Temporary files
tmp
temp
