@use '@/styles/layout/mixins' as *;

#vehicle-category-page {
    .vehicle-category-list {
        flex-direction: column;
        gap: 10px;

        .vehicle-category-item {
            width: 100%;
        }
    }
}